.main {
    header {
        background: rgb(46, 52, 63);
        color: white;
        text-align: center;
        padding: 20px 0;
        margin: 0 0 40px;
    }

    .search {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        input {
            font-size: 22px;
            padding: 10px;
            width: 100%;
            border: 1px solid #818181;
            border-radius: 5px;
        }

        button {
            border: none;
            background: rgb(69, 104, 164);
            color: white;
            padding: 10px;
            font-size: 20px;
            border-radius: 5px;
            cursor: pointer;
        }
    }
}